$color:rgb(2, 0, 0);

ul{
    font-size: 14;
    color:$color;
}


ol {
        font-size: 18px;
        color: $color;
    }


    div{
        font-size: 18px;

        p{
            color:grey;
        }

        // ul{
        //     color:rgb(2, 8, 0);
        // }
    }

    // %message{
    //     font-family: sans-serif;
    //     font-size: 18px;
    //     font-weight: bold;
    //     border: 1px solid black;
    //     padding: 20px;
    //     margin: 20px;
    // }

    // .success{
    //     @extend %message;
    //     background-color: green;
    // }
    // .error{
    //     @extend %message;
    //     background-color: red;

    // }

    // .warning{
    //     @extend %message;
    //     background-color: orange;
    // }